h1{
    color: peru;
    text-align: center;
    margin-top: 1em;
}

.bg{
    margin: 1em auto;
    width: 20em;
    border-radius: 1em;
    border: 0;
    background-color: peachpuff;
    padding: 1em;
}

.box{
    background-color: beige;
    border-radius: 0.5em;
    padding: 1em;
    font-family: 'poppins';
}

#d-flex{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

