h1{
    color: peru;
    text-align: center;
}

.bg{
    margin: 1em auto;
    width: 20em;
    border-radius: 1em;
    border: 0;
    background-color: peachpuff;
    padding: 0.5em;
}

/* #distance, #age #price{
    background-color: beige;
    border-radius: 0.5em;
    padding: 1em;
    font-family: 'poppins';
    text-align: center;
} */


